.tile {
  height: 300px;
  padding: 5px;
  text-align: center;
}

.port {
  margin-bottom: 100px;
}



img {
  width:80vw;
  height:80vw;
}
.portTitle {
  position: relative;
  top: -40vw;
  font-size: 20px;
}

/*@media screen and (min-width: 480px) {
  img {
    width:30vw;
    height:30vw;
  }
}*/
@media(min-width:768px){
  img {
    width:30vw;
    height:30vw;
  }
  .portTitle {
    position: relative;
    top: -15vw;
    font-size: 20px;
  }
}
@media(min-width:992px){
  img {
    width:30vw;
    height:30vw;
  }
  .portTitle {
    position: relative;
    top: -15vw;
    font-size: 20px;
  }
}
@media(min-width:1200px){
  img {
    width:400px;
    height:400px;
  }
  .portTitle {
    position: relative;
    top: -200px;
    font-size: 20px;
  }
}

body {
  padding-top: 100px;
  background: #999999 !important;
}





.tile:hover {
  opacity:0.8;
}
